# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Mac OS system files
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
_version.py

# Unit test / coverage reports
.tox/
.coverage
.coverage.*

# mypy
.mypy_cache/
