# This file defines code owners for the different architectures, ensuring
# that they get asked for a review whenever the code for this architecture
# is modified.

**/classifier           @sofiia-chorna
**/composition          @ppegolo
**/dpa3                 @HaoZeke
**/flashmd              @johannes-spies @zyxwwxyz
**/flashmd_symplectic   @johannes-spies @zyxwwxyz
**/gap                  @DavideTisi
**/llpr                 @ppegolo @SanggyuChong
**/mace                 @pfebrer @jwa7
**/pet                  @abmazitov @sofiia-chorna
**/soap_bpnn            @ppegolo
**/space                @frostedoyster
