# This file defines code owners for the different architectures, ensuring
# that they get asked for a review whenever the code for this architecture
# is modified.

**/soap_bpnn            @frostedoyster
**/pet                  @abmazitov
**/gap                  @DavideTisi
**/nanopet              @frostedoyster
**/llpr                 @frostedoyster @SanggyuChong