graft src

include LICENSE
include README.md

# TODO: remove once the hack is not needed anymore
include scripts/hotfix_metatensor.py

prune docs
prune examples
prune tests
prune .github
prune .tox

exclude .gitignore
exclude tox.ini
exclude .readthedocs.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
