graft src

include LICENSE
include README.rst

prune developer
prune docs
prune examples
prune tests
prune .github
prune .tox

exclude .codecov.yml
exclude .gitignore
exclude .readthedocs.yml
exclude CODEOWNERS
exclude CONTRIBUTING.rst
exclude tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib
