graft src

include LICENSE
include README.md

prune docs
prune examples
prune tests
prune .github
prune .tox

exclude .gitignore
exclude tox.ini
exclude .readthedocs.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
