ase
furo
sphinx >= 7
sphinxcontrib-bibtex
sphinx-gallery
sphinx-toggleprompt
setuptools  # required for sphinxcontrib-bibtex together with Python 3.12
tomli
rascaline[torch]@git+https://github.com/luthaf/rascaline  # for the SOAP-BPNN
