name: Architecture tests

on:
  push:
    branches: [main]
  pull_request:
    # Check all PR

jobs:
  tests:
    name: ${{ matrix.architecture-name }}
    strategy:
      fail-fast: false
      matrix:
        architecture-name:
          - classifier
          - flashmd
          - gap
          - llpr
          - mace
          - nanopet
          - pet
          - soap-bpnn

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.0"
        python-version: "3.13"
        enable-cache: true
        activate-environment: true

    - name: Setup dependencies
      run: |
        uv tool install tox --with tox-uv

    - name: run architecture tests
      run: tox -e ${{ matrix.architecture-name }}-tests
      env:
        # CI should always generate test files
        FORCE_REGENERATE: true
        # Use the CPU only version of torch when building/running the code
        PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
